# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#

# 忽略 Mac 和 Windows 的系统垃圾文件
.DS_Store
Thumbs.db

# 忽略你在 Linux/WSL 下编译出来的二进制文件 (没有 .exe 后缀的)
# 假设你的项目将来编译出来的名字叫 giance
giance
main

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/
